body{
    background-color: var(--base-color);
}

h1{
    text-align: center;
    color: var(--text-color); 
}

.nav-link{
    color: var(--text-color); 
}

.containter{
    align-items: center;
    justify-content: center;
    margin: auto; 
}

.black-border{
    border: solid black 5px;
}

.decorated-border{
    border: 5px outset #508bff;
}

.align-button{
 display: block; 
 margin: auto;

}

/* .card{
    border: solid black 2px;
} */

:root{
    --base-color: lightblue; 
    --base-variant: #e8e9ed; 
    --text-color: #111528; 
    --secondary-text: #232738; 
    --primary-color: #3a435d; 
    --accent-color: #0071ff; 
}

.darkmode{
    --base-color: rgb(6, 73, 95); 
    --base-variant: #101425; 
    --text-color: #ffffff; 
    --secondary-text: #a4a5b8; 
    --primary-color: #3a435d; 
    --accent-color: #0071ff; 
}

.theme-switch{
    height: 50px; 
    width: 50px; 
    padding: 0; 
    border-radius: 50%; 
    background-color: var(--base-variant);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed; 
    top: 20px; 
    right: 20px; 
}

.theme-switch svg{
    fill: var(--primary-color);
}

.theme-switch svg:last-child{
    display: none; 
}

.darkmode .theme-switch svg:first-child{
    display: none;
}

.darkmode .theme-switch svg:last-child{
    display: block;
}